# lets begin!!!

In [1]:
print("hyy aman")

hyy aman

## comments

In [4]:
#single line comment
print(9+8)

17

' helo '

# variable

In [6]:
#it is a container that stores values.python is not "statically typed". We do not need to declear 
#variable before using them or declear their type.
#a python variable is a name given to a memory location it is basic  unit of storage in a programe

#variable are case sensitive ex- AGE age Age are diff variable

x,y='apple','banana'
print(x+y)

applebanana

In [7]:
X,x=4,6
print(X+x)

10

In [8]:
X="a"
x="b"
v ="h"
print(X,x,v)
print(X)
print(x)
print(v)

a b h
a
b
h

## Data type

variable can store data of different types 
Types 
text type - str
Numeric Type  - int,flot,complex
Sequence - list ,tuple,range
Mapping - dict
set types - set,frozenset
Boolean type- bool
binary types - bytes,bytearray

In [10]:
x= 2
print(x)
print(type(x))

2
<class 'int'>

In [11]:
%whos
#to check hmne kitne variable bnaye h or unka tyype kya hai

Variable   Type    Data/Info
----------------------------
X          str     a
v          str     h
x          int     2
y          str     banana

# Operator

types of operator 
 Arithmetic
 comparision
 logical -And ,or,not
 bitwise
 Assignment
 identity operator
 membership operator

In [12]:
#exponent
a =41256789
print(a**55)
#power

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [14]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
a

20637005.183908045

# types of python function
## built in functions
## python Recursive function
## python lambda function 
## user define function 
# why we need function -
### because of its reusability -example calculator

In [15]:
# buit in function
#abs()
x=abs(-8.5)
print(x)

8.5

In [18]:
# bin function binary
x=bin(13)
x

'0b1101'

In [20]:
# bytes function 
x=bytes(8)
x

b'\x00\x00\x00\x00\x00\x00\x00\x00'

In [25]:
#chr function -used to find unique code of letter
x= chr(97)
x

'a'

In [26]:
#Complex function
x = complex(3,5)
x

(3+5j)

In [27]:
x=complex(2)
x

(2+0j)

In [28]:
# flot function 
x=float(8)
x

8.0

In [29]:
# int function -complext numer can never be converted into int number

# help function

In [1]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [2]:
# input 
a = int(input("enter number"))
a

enter number 5

5

In [34]:
a = str(input(""))
a

 ggg

'ggg'

# control flow statement

In [35]:
#  conditional statement = if,if-else,ei-elif-else,nested if else
#transfer statement break,continue,pass
#iterative statements = for ,while

In [41]:
x = int(input("enter your age mere bhai or behnoo"))
if x>=18:
    print("balik")
else:
    print("nabalik")

enter your age mere bhai or behnoo 2

nabalik

In [46]:
#student result program 
x = int(input("Enter name of student"))
a = int(input("Enter marks of english"))
b = int(input("Enter marks of hindi"))
c = int(input("Enter marks of maths "))
d = int(input("Enter marks of science"))
e = int(input("Enter marks of social science"))

n = ((a+b+c+d+e)/500)*100
print("percentage =",n)
if n>=90:
    print("grade A")
elif n>=75 and n<90:
    print("B grade")
elif n>=50 and n<75:
    print("c grade")
else:
    print("D grade")

Enter name of student 88
Enter marks of english 99
Enter marks of hindi 88
Enter marks of maths  99
Enter marks of science 99
Enter marks of social science 88

percentage = 94.6
grade A

In [50]:
#write a program to print hello if num is multiple by 5 else print bhgg
n = int(input("enter any number "))
if n%5==0:
    print("hello")
else:
    print("bye")

enter any number  11

bye

## function is a reusable block of prog statement designd to perform a certain task 
### def keyword():

In [55]:
def my_fun():
    print("hello class")
my_fun()

hello class

In [63]:
def contact():
    print("Contact details of the school")
    print("delhi public school")
    print("indore")
    print("9109853956")
    print("gps@email.com")
for i in range(4):
    n = input("enter name of student")
    a = int(input("enter marks of science"))
    c = int(input("enter marks of social "))
    print(" ")
    contact()

enter name of student aman
enter marks of science 44
enter marks of social  55

Contact details of the school
delhi public school
indore
9109853956
gps@email.com

enter name of student ap
enter marks of science 55
enter marks of social  66

Contact details of the school
delhi public school
indore
9109853956
gps@email.com

enter name of student kk
enter marks of science 55
enter marks of social  5

Contact details of the school
delhi public school
indore
9109853956
gps@email.com

enter name of student gg
enter marks of science 88
enter marks of social  88

Contact details of the school
delhi public school
indore
9109853956
gps@email.com

In [72]:
# arguments 
def my_func(Fname):
    print(Fname+ " "+"sharma")
my_func("Aman")
my_func("pp")

Aman sharma
pp sharma

In [73]:
def my_func(fname,lname):
    print(fname +" "+ lname)
my_func("aman", "patidar")

aman patidar

In [77]:
#write a prog to calculate electricity bill
def e(n):
    if n<=500:
        print("your bill is rs",n*5)
    elif(n>=500 and n<=700):
        print("your bill of Rs",n*7)
    elif(n>700 and n<1000):
        print("your bill is Rs",n*15)
    elif(n>1000):
        print("your bill is Rs",n*20)
    else:
        print("bill error")
def inst():
    print("last day of paying bill is 20 april")
    print("after 20 april you need to pay 5 Rs extra for each unit")
    print("Electricity Office Indore")
        

for i in range(2):
    a= input("enter name of customer")
    n= int(input("enter unit used "))
    e(n)
    inst()

enter name of customer Aman
enter unit used  23

your bill is rs 115
last day of paying bill is 20 april
after 20 april you need to pay 5 Rs extra for each unit
Electricity Office Indore

enter name of customer Serii
enter unit used  4489

your bill is Rs 89780
last day of paying bill is 20 april
after 20 april you need to pay 5 Rs extra for each unit
Electricity Office Indore

# strings
### string is a collection of character in python that represents a sequence of character .it is immutable data tupe

In [78]:
# chr surounded by single or double quotes 
a = "saregamapa"
print(a)

saregamapa

In [82]:
a = "saregamapa"
print(a[1])

a

# multiline comments
## """     """

In [87]:
b= "asdsfddfgrf degergtrh hrthrtg efwee adsdgf ff sggfhrb bfghghfg dfgef sdfe gdfgsd asdf gsd fdfh rhd fbdfhr gdcvdf gfg dfvdf gerg dfvdg hrgfd rh tyhe fgdfh rf asffdh eff cnfg fasd sdg dfg bfgn hhr df ngh hjrg dfvgf ngh thtrg dfb fgh ggh dfg fg"
b

'asdsfddfgrf degergtrh hrthrtg efwee adsdgf ff sggfhrb bfghghfg dfgef sdfe gdfgsd asdf gsd fdfh rhd fbdfhr gdcvdf gfg dfvdf gerg dfvdg hrgfd rh tyhe fgdfh rf asffdh eff cnfg fasd sdg dfg bfgn hhr df ngh hjrg dfvgf ngh thtrg dfb fgh ggh dfg fg'

In [89]:
a = """asdsfddfgrf
degergtrh hrthrtg efwee 
adsdgf ff sggfhrb bfghghfg dfgef sdfe gdfgsd asdf gsd fdfh
rhd fbdfhr gdcvdf gfg dfvdf gerg dfvdg hrgfd rh tyhe fgdfh rf asffdh
eff cnfg fasd sdg dfg bfgn hhr df ngh hjrg dfvgf ngh thtrg dfb fgh ggh
dfg fg"""
a

'asdsfddfgrf\ndegergtrh hrthrtg efwee \nadsdgf ff sggfhrb bfghghfg dfgef sdfe gdfgsd asdf gsd fdfh\nrhd fbdfhr gdcvdf gfg dfvdf gerg dfvdg hrgfd rh tyhe fgdfh rf asffdh\neff cnfg fasd sdg dfg bfgn hhr df ngh hjrg dfvgf ngh thtrg dfb fgh ggh\ndfg fg'

# index

In [92]:
n = "Aman patidar"
#print(n[1])
print(n[4])

In [93]:
print(n[-6])

a

In [94]:
#Space ka bhi index hota hai bhai..!

# Slicing
## [start:end:step]

In [97]:
print(n[1:3])
print(n[1:11:2])

ma
mnptd

In [98]:
# Reverse
print(n[::-1])

raditap namA

In [100]:
#length of string
print(len(n))

12

In [103]:
# upper method
print(n.upper())

AMAN PATIDAR

In [104]:
#lower method
print(n.lower())

aman patidar

In [112]:
#replace 
p = "hellow how are you"
q=p.replace("how" , "is")
print(q)

hellow is are you

In [113]:
print(p.replace("you" , "Aman"))

hellow how are Aman

In [120]:
# find Method
a = "python is great"
b=a.find("")
b

2

# list
### list are used to store multiple items in a single variable
### list are the one of four data type in python
### A single list may contain Data type like int ,float,str as well as obj 
## list are mutable
## list item are ORDERED,CHANGABLE,AND ALLOW DUPLICATE
# a=[]

In [6]:
a=["apple","banana","mango","mango"]
print(a)
print(type(a))

['apple', 'banana', 'mango', 'mango']
<class 'list'>

In [10]:
 c = [2,"aman",4.5,"serii",True]
print(c)
print(type(c))

[2, 'aman', 4.5, 'serii', True]
<class 'list'>

print(c.len())

In [12]:
print(len(c))

5

In [2]:
b=[15,8,9,3,4,6,7,8,9,25]
print(len(b))

10

In [3]:
#acces 
print(b[3])

3

In [4]:
print(b[-2])

9

In [8]:
#slicing
print(b[0:10:2])

[15, 9, 4, 7, 9]

In [9]:
print(b[0:10])

[15, 8, 9, 3, 4, 6, 7, 8, 9, 25]

In [10]:
print(b[3:9])

[3, 4, 6, 7, 8, 9]

In [12]:
# change items 
l=["aman",True,4,4.6]
l[1]="patidar"
print(l)

['aman', 'patidar', 4, 4.6]

In [13]:
l[3]=56
l

['aman', 'patidar', 4, 56]

In [14]:
#Change the range
l[2:4]=["book","pen",6]
l

['aman', 'patidar', 'book', 'pen', 6]

In [15]:
#ADD ELEMENT IN LIST
l.append(99)
l

['aman', 'patidar', 'book', 'pen', 6, 99]

In [17]:
#remove
l.remove("book")
l

['aman', 'patidar', 'pen', 6, 99]

In [19]:
#REVERSE
print(l[::-1])
l.reverse
l

[99, 6, 'pen', 'patidar', 'aman']

['aman', 'patidar', 'pen', 6, 99]

In [21]:
#summ of all element in the list
l=[1,2,3,4,5,6,7,8,9,10]
print(len(l))
a=0
for i in range(10):
    a=a+l[i]
    i=i+1
print("sum of the all elements in the list are=",a)

10
sum of the all elements in the list are= 55

In [26]:
#multiply of all the number in the list 
l = [1,2,3,4,5,6,7,8,9,10]
print(len(l))
a=1
for i in range(10):
    a=a*l[i]
    i=i+1
print("multiplication answer is=",a)

10
multiplication answer is= 3628800

# tuple

### Tuple is used to stroe multiple itemsin a single variable 
#### Tuple is collection of object seperated by comma,
### We cannot change the elements of tuple once it assigned
## IMMUTABLE
## represented by ()
## Tuple are ordered,unchangable,and allow duplicate value

In [29]:
t=(1,"aman","patidar",True,66,33,"str")
print(type(t))
t

<class 'tuple'>

(1, 'aman', 'patidar', True, 66, 33, 'str')

In [30]:
#empty tuple]
p=()
p

()

In [31]:
# nested tuple
t=(1,"aman","patidar",True,66,33,"str",[1,2,3],["aman","patidar"])
t

(1, 'aman', 'patidar', True, 66, 33, 'str', [1, 2, 3], ['aman', 'patidar'])

In [33]:
#creting tuple with one item 
v=("helo")
print(type(v))
v
# we can see that if we assign single vhello its type is str but we created tuple to solve this 
#issue we have put comma after hello 
v=("helo",)
print(type(v))
v

<class 'str'>
<class 'tuple'>

('helo',)

# Tuple Constructor

In [37]:
a=tuple((1,2,3,4))
print(type(a))
a

<class 'tuple'>

(1, 2, 3, 4)

In [38]:
#indexing
print(t[5])

33

In [40]:
print(t[7][2])

3

In [42]:
#slicing
print(t[1:7])

('aman', 'patidar', True, 66, 33, 'str')

In [43]:
print(t[1:7:2])

('aman', True, 33)

In [44]:
print(t[::2])
# startwith zero ,run till end with the gap of 2

(1, 'patidar', 66, 'str', ['aman', 'patidar'])

In [45]:
#reverse a tuple
print(t[::-1])

(['aman', 'patidar'], [1, 2, 3], 'str', 33, 66, True, 'patidar', 'aman', 1)

In [50]:
T = (1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [51]:
print(T[-2:-5])

()

In [59]:
#IMMUTABLE
#tuple to list then we can add then again convet to tuple
T = (1,2,3,4,5,6,7,8)
y=list(T)
y.append("orange")
print(y)
T=tuple(y)
print(T)

[1, 2, 3, 4, 5, 6, 7, 8, 'orange']
(1, 2, 3, 4, 5, 6, 7, 8, 'orange')

In [60]:
T = (1,2,3,4,5,6,7,8,"orange")
y=list(T)
y.remove("orange")
print(y)
T=tuple(y)
print(T)

[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)

In [61]:
#delete = it will delete whole tuple from the memory 
del T
T

NameError: name 'T' is not defined

In [63]:
#loop
R = ("a","b","c")
for x in R:
    print(R)

('a', 'b', 'c')
('a', 'b', 'c')
('a', 'b', 'c')

In [64]:
#join two tuple
t1 = (1,2,3,4,5)
t2=(6,7,8,9)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [66]:
#multiply two tuple
t4=t1*3
print(t4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [67]:
print(R*2)
print(t1+t1+t1)
print(t1+t1)
print(len(t1))

('a', 'b', 'c', 'a', 'b', 'c')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
5

In [69]:
# write a prog to take 5 item, from user and store it in tuple
t=()
i=0
while i<=5:
    a=int(input("enter a number "))
    t = t+(a,)
    i=i+1
    print(t)

enter a number  33

(33,)

enter a number  66

(33, 66)

enter a number  77

(33, 66, 77)

enter a number  88

(33, 66, 77, 88)

enter a number  77

(33, 66, 77, 88, 77)

enter a number  77

(33, 66, 77, 88, 77, 77)

# Dictionary

# dict is used to store data values in keys:calue pair.
## MUTABLE
## like list it can nested.
### a dic canalso contain list and vice versa.
## DICT ORDERED , Changable , anddoes not allow duplicates
### item can be reffered by the key values
# represented by {}

In [71]:
#creating a dict 
a = {"id":"123ab",
    "color":"red",
    "rank":2}
a

{'id': '123ab', 'color': 'red', 'rank': 2}

In [72]:
print(type(a))

<class 'dict'>

In [73]:
print(a["rank"])

2

In [78]:
#check is duplicate allow or not
a = {"id":"123ab",
    "color":"red",
    "rank":2,
    "y":2002,
    "year":2005}
a

{'id': '123ab', 'color': 'red', 'rank': 2, 'y': 2002, 'year': 2005}

In [79]:
print(len(a))

5

In [80]:
a = {"id":"123ab",
    "color":"red",
    "rank":2,
    "y":(1,2,3,4),
    "year":2005,
    "t":[1,88,55,19]}
a

{'id': '123ab',
 'color': 'red',
 'rank': 2,
 'y': (1, 2, 3, 4),
 'year': 2005,
 't': [1, 88, 55, 19]}

In [81]:
# one more way to creste dictionary using dict

In [83]:
a=dict(name="aman",surname = "patidar",Class="aiml", age = 22)
a

{'name': 'aman', 'surname': 'patidar', 'Class': 'aiml', 'age': 22}

In [85]:
print(a['name'])

aman

In [86]:
print(a.get("name"))

aman

In [89]:
# to see key
x = a.keys()
x

dict_keys(['name', 'surname', 'Class', 'age'])

In [90]:
# values
x = a.values()
x

dict_values(['aman', 'patidar', 'aiml', 22])

In [91]:
#change
a['age']=23
a

{'name': 'aman', 'surname': 'patidar', 'Class': 'aiml', 'age': 23}

In [92]:
#add
a.update({"mail":"amanpatidar456@gmail.com"})
a

{'name': 'aman',
 'surname': 'patidar',
 'Class': 'aiml',
 'age': 23,
 'mail': 'amanpatidar456@gmail.com'}

In [93]:
#remove
a.pop("age")
a

{'name': 'aman',
 'surname': 'patidar',
 'Class': 'aiml',
 'mail': 'amanpatidar456@gmail.com'}

In [97]:
#delete

del

NameError: name 'a' is not defined

In [99]:
a = {'name': 'aman',
 'surname': 'patidar',
 'Class': 'aiml',
 'age': 23,
 'mail': 'amanpatidar456@gmail.com'}
a

{'name': 'aman',
 'surname': 'patidar',
 'Class': 'aiml',
 'age': 23,
 'mail': 'amanpatidar456@gmail.com'}

In [100]:
#clear method - clease all and return empty dic
a.clear()
a

{}

In [101]:
print(type(a))

<class 'dict'>

In [103]:
d1 = {1:10,
     2:22,
     3:33,
     4:44}
d2 = {5:55,
     6:66,
     7:77}
d3 = {}
for d in(d1,d2):
    d3.update(d)
print(d3)

{1: 10, 2: 22, 3: 33, 4: 44, 5: 55, 6: 66, 7: 77}

In [105]:
d3.keys()
d3.values()

dict_values([10, 22, 33, 44, 55, 66, 77])

In [106]:
# sqr of keys
d = dict({})
for x in range(1,16):
    d[x] = x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [109]:
# check wheather a given key is already exist in a dic or not
d = {1:2,2:3,3:30,4:40,5:50,6:60}
def is_present(x):
    if x in d:
        print("keys is present")
    else:
        print("not present")
is_present(5)
is_present(10)

keys is present
not present

# sets
# mutable 
# nesting not possible
#### we can add or remove but not change thats why it is mutable
## used to store multiple elements in a single variable.
# Unordered , unchangable and unindexed ,not allow duplicate
# represented by { } 
#### diff by dict is there is not key:value pair.

In [113]:
a = {"animal","people"}
print(type(a))
a

<class 'set'>

{'animal', 'people'}

In [112]:
# sets are unordered 
a = {"animal","people"}
print(a[1])

TypeError: 'set' object is not subscriptable

In [114]:
# not allow duplicate
a = {"animal","people","animal"}
a
# not allow not print twice

{'animal', 'people'}

## True and one are consider as the same value

In [2]:
a = {"animal","people","animal",True,1}
a
#true or one are consider same

{True, 'animal', 'people'}

In [3]:
a = {"animal","people","animal",True,1}
print(len(a))

3

In [4]:
x1={1,2,3,4}
x2={"a","b","c"}
x3={True,False,True}
print(x1,x2,x3)

{1, 2, 3, 4} {'b', 'a', 'c'} {False, True}

In [7]:
a = {"animal","people","animal",True,1,("a",2)}#we can ad tuple in set
a = {"animal","people","animal",True,1,[1,2,3]}#we cannot add list into sets
x1={1,2,3,4,{"s":1}}
print(x1)

TypeError: unhashable type: 'list'

In [8]:
x1={1,2,3,4,{"s":1}}#we cannot add dict into set
print(x1)

TypeError: unhashable type: 'dict'

In [11]:
# set constructor 
this = set(("alpha","beta"))
print(this)
print(type(this))

{'beta', 'alpha'}
<class 'set'>

In [13]:
# empty set
a = {}
a
print(type(a))
#but this will return dict

<class 'dict'>

In [15]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

In [16]:
#Access
a={"a","b","c"}

for x in a:
    print(x)

b
a
c

In [17]:
#chek if item is present in set
a={"a","b","c"}
print("b"in a)

True

In [18]:
#ADD item in set
a={"a","b","c"}
a.add(100)
a

{100, 'a', 'b', 'c'}

In [21]:
a={"a","b","c"}
y={"a","d","e"}

a.update(y)
a

{'a', 'b', 'c', 'd', 'e'}

In [22]:
#remove set item 
a={"a","b","c"}
a.remove("b")
a

{'a', 'c'}

In [25]:
#join two sets
a={"a","b","c"}
y={"a","d","e"}
z = a.union(y)
z

{'a', 'b', 'c', 'd', 'e'}

In [28]:
#write a python prog find max and min 
x= {1,2,3,4}
print("orignal set element")
print(x)
print(max(x))
print(min(x))

orignal set element
{1, 2, 3, 4}
4
1

In [29]:
#common
a={"a","b","c"}
y={"a","d","e"}
z=a.intersection(y)
z

{'a'}